<div class="navigation">
    <a class="toggleMenu" href="#"><img src="public/images/nav_icon.png" alt="" /> </a>
    <ul class="navig">
        <li class="plan"><a href="#">Diagnóstico de la idea</a>
            <ul class="sub-nav">
                <li><a href="index.php?mode=agregar-diagnostico-idea">Agregar</a></li>
                <li><a href="index.php?mode=consultar-diagnostico-idea">Consultar</a></li>
            </ul>
        </li>
        <li class="plan"><a href="#">Diagnóstico de la empresa</a>
            <ul class="sub-nav">
                <li><a href="index.php?mode=agregar-diagnostico-empresa">Agregar</a></li>
                <li><a href="index.php?mode=consultar-diagnostico-empresa">Consultar</a></li>
            </ul>
        </li>
        <li class="plan"><a href="#">Plan de acción</a>
            <ul class="sub-nav">
                <li><a href="index.php?mode=agregar-plan-accion">Agregar</a></li>
                <li><a href="#">Consultar</a></li>
            </ul>
        </li>
        <li class="plan"><a href="#">Seguimiento</a>
            <ul class="sub-nav">
                <li><a href="#">Consultar</a></li>
                <li><a href="#">Indicadores</a></li>
            </ul>
        </li> 
        <li><a href="index.php?mode=cerrarSesion"><img src="public/images/salir.png"/></a></li>
    </ul>
    <script type="text/javascript" src="public/js/responsive-nav.js"></script>
</div>