 <div class="main">
           <form action='index.php' id="consultar_cc" method='get' class="container contact">
              <br>
               <h2 class="titulo-ventana-consultar">{{TITULO_VENTANA}}</h2>
           <p style='font-weight: bold;'>{{TITULO2}}</p><br>
           <input type='hidden' name='mode' value='seleccionar-consultar-diagnostico-idea'>
           <input id="Num_consecutivo" name="Num_consecutivo" type="hidden" value="0">
           	<div class="table-responsive">
           <table id="example" class="table table-bordered table-hover">
                <thead>
                    <th>N°</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>C.C.</th>
                    <th>Idea</th>
                    <th>Fecha</th>
                </thead>
                <tbody align="center">
                {{OPTION}}
                </tbody>
                <tfoot>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>C.C.</th>
                    <th>Idea</th>
                    <th>Fecha</th>
                </tfoot>
           </table>
           	</div>
           <input class="subtmit-consultar" id="consultar" type="submit" value="Consultar">
		    </form>	

</div>
    