<link href="public/css/checkbox.css" rel='stylesheet' type='text/css' />
<div class="container banner">
	<div class="row">
		<div class="col-md-10">
			<section class="title-section">
				<h1 class="title-header">Consultar Diagnostico Idea </h1>
				<ul class="breadcrumb breadcrumb__t">
					<li><a href="index.php">Inicio</a></li>
					<li class="active">Consultar Diagnostico Idea</li>
				</ul>
		</div>
		<div class="col-md-2">
			<div align="right"><a class="banner_btn" href="index.php?mode=editar-diagnostico-idea&Num_consecutivo={{Num_consecutivo}}">Editar</a></div>
		</div>
	</div>
	</section>
</div>
<div class="main">
	<div class='container contact2'>
		<div>
			<div><br>
				<h4><strong>Filtros:</strong></h4>
				<div class="row">
					<br>
					<div class="col-md-4"><label class="btn btn-success">INFORMACIÓN DEL SOLICITANTE<input type="checkbox" checked  class="badgebox" id="check1"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">DEFINA SU NEGOCIO SU IDEA<input type="checkbox" checked   class="badgebox" id="check2"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">RECURSO HUMANO<input type="checkbox" checked  class="badgebox" id="check3"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">ANÁLISIS DE MERCADO<input type="checkbox" checked  class="badgebox" id="check4"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">ESTRATEGIA DE VENTAS<input type="checkbox" checked  class="badgebox" id="check5"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">ANÁLISIS ECONÓMICO Y FINANCIERO<input type="checkbox" checked  class="badgebox" id="check6"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">ANÁLISIS TÉCNICO<input type="checkbox" checked  class="badgebox" id="check7"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">ANÁLISIS LEGAL<input type="checkbox" checked  class="badgebox" id="check8"><span class="badge">&check;</span></label></div>
					<div class="col-md-4"><label class="btn btn-success">RESUMEN DE ASPECTOS A MEJORAR<input type="checkbox" checked  class="badgebox" id="check9"><span class="badge">&check;</span></label></div>

				</div>
				<hr>
				<br>
				<div id="titulo">
					<h2>DIAGNÓSTICO DE LA IDEA</h2>
					<h4>Programa de Fortalecimiento Empresarial</h4>
				</div>

				<br>
				<br>
				<div>
					<div class="row">
						<div class="col-md-6"><strong>Nro. CONSECUTIVO: </strong> 01-000{{Num_consecutivo}}</div>
						<div class="col-md-6" align="right"><strong>FECHA:</strong> {{Fecha}}</div>
						<div class="col-md-12">&nbsp</div>
						<div class="col-md-12"><strong>ASESOR: </strong>{{Asesor}}</div>
					</div>
				</div>
				<br>
			</div>
			<div id="check1-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">I. INFORMACIÓN DEL SOLICITANTE</legend>
					<div class="row ">
						<div class="col-md-3"><label>Nombres: </label></div>
						<div class="col-md-3">
							<p> {{cl_nombre}} </p>
						</div>
						<div class="col-md-3"><label>Apellidos: </label></div>
						<div class="col-md-3">
							<p> {{cl_apellido}} </p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3"><label>C.C.:</label></div>
						<div class="col-md-3">
							<p> {{CC}}</p>
						</div>
						<div class="col-md-3"><label>Posicion que asumira en la empresa:</label></div>
						<div class="col-md-3">
							<p>{{Posicion}} </p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3"><label>Numero telefonico:</label></div>
						<div class="col-md-3">
							<p>{{cl_telefono}} </p>
						</div>
						<div class="col-md-3"><label>Celular:</label></div>
						<div class="col-md-3">
							<p>{{cl_celular}} </p>
						</div>
					</div>
				</fieldset>
				<br><br></div>
			<div id="check2-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">II. DEFINA SU NEGOCIO SU IDEA</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>¿Cuál es su negocio?</label>
							<br>
							<p> {{Idea}} </p>
							<br><label>¿Cuál es su motivación para emprender esta idea de negocio?</label>
							<br>
							<p> {{Motivacion}} </p>
							<br><label>¿Por qué ha elegido ésta industria/sector?</label>
							<br>
							<p> {{Elecion}} </p>
							<br><label>¿Cuáles son los productos o servicios que proyecta desarrollar?</label>
							<br>
							<p> {{Productos}} </p><br>
						</div>
					</div>
				</fieldset><br><br></div>
			<div id="check3-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">III. RECURSO HUMANO</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>¿Cuánto personal requiere para su equipo de trabajo?</label>
							<br>
							<p> {{Personal_requerido}} </p>
							<br><label>¿Qué personas harán parte de su grupo empresarial?</label>
							<br>
							<p> {{Grupo_empresarial}} </p>
							<br><label>¿Cuáles son las características y perfiles de su equipo de trabajo?</label>
							<br>
							<p> {{Equipo_caracteristicas}} </p>
							<br><label>¿Qué criterios de selección tiene en cuenta para la contratación de personal?</label>
							<br>
							<p> {{Criterios_contratacion}} </p>
						</div>
					</div>
				</fieldset><br><br></div>
			<div id="check4-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">IV. ANÁLISIS DE MERCADO</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>¿Cuál es su mercado objetivo?</label>
							<br>
							<p> {{Mercado_objetivo}} </p>
							<br><label>¿Dónde esta ubicado su mercado objetivo?</label>
							<br>
							<p> {{Mercado_objetivo_ubica}} </p>
							<br><label>¿Quiénes son los principales competidores de la industria y dónde están situados?</label>
							<br>
							<p> {{Competidores}} </p>
							<br><label>¿Cuál factor diferenciador posee su producto o servicio?</label>
							<br>
							<p> {{Factor_diferenciador}} </p>
							<br><label>Cuáles son las condiciones con las que esta dispuesto a negocial?</label>
							<br>
							<p> {{Condiciones_venta}} </p>
							<br><label>¿Cuál es la ubicación actual o propuesta para su negocio?</label>
							<br>
							<p> {{Ubicacion_negocio}} </p>
							<br><label>¿La ubicación influenciará su capacidad de ataer clientes?</label>
							<br>
							<p>{{Ubicacion_influencia}}</p><br>
						</div>
					</div>
				</fieldset><br><br></div>
			<div id="check5-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">V. ESTRATEGIA DE VENTAS</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>¿Cuál será su estrategia de precios?</label>
							<br>
							<p> {{Estrategia_precios}} </p>
							<br><label>¿Cuáles serán sus canales de distribución?</label>
							<br>
							<p> {{Canales_distribucion}} </p>
							<br><label>¿Cómo piensa promocionar su negocio? ¿Ha desarrollado un plan de mercadeo?</label>
							<br>
							<p> {{Promocion_negocio}} </p>
						</div>
					</div>
				</fieldset><br><br></div>
			<div id="check6-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">VI. ANÁLISIS ECONÓMICO Y FINANCIERO</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>¿Cuál es el costo de iniciar y operar su negocio?</label>
							<br>
							<p> {{Costo_operacion}} </p>
							<br><label>¿Cuál o cuales son las fuentes de financiación para iniciar su empresa?</label>
							<br>
							<p> {{Fuentes_financiacion}} </p>
							<br><label>¿En cuánto tiempo ha estimado el retorno de su inversión?</label>
							<br>
							<p> {{Tiempo_retorno_inversion}} </p>
							<br><label>¿Cómo se estimó el precio de venta de sus productos/servicios?</label>
							<br>
							<p> {{Como_estimo_precio}} </p>
							<br><label>¿Cuál es el costo de realizar su producto/servicio?</label>
							<br>
							<p> {{Costo_producto}} </p>
							<br><label>Describa cualquier otro asunto relacionado a las finanzas de su empresa.</label>
							<br>
							<p> {{Asuntos_finanza}} </p>
						</div>
					</div>
				</fieldset><br><br></div>
			<div id="check7-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">VII. ANÁLISIS TÉCNICO</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>Describa el proceso para desarrollar su producto/servicio</label>
							<br>
							<p> {{Desarrollo_producto}} </p>
							<br><label>¿Cuáles equipos o tecnología requiere para llevar a cabo su producto/servicio?</label>
							<br>
							<p> {{Tecnologia_requerida}} </p>
							<br><label>¿Qúé infraestructura requiere para llevar a cabo su producto/servicio?</label>
							<br>
							<p> {{Infraestructura_requerida}} </p>
						</div>
					</div>
				</fieldset><br><br></div>
			<div id="check8-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">VIII. ANÁLISIS LEGAL</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>¿Qué regulaciones requiere su empresa para su operación?</label>
							<br>
							<p> {{Regulaciones_operacion}} </p>
							<br><label>¿Qué tipo de persona jurídica tendrá la empresa?</label>
							<br>
							<p> {{Tipo_persona}} </p>
						</div>
					</div>
				</fieldset><br><br></div>
			<div id="check9-div">
				<fieldset class="contentStyle">
					<legend class="titleStyle">IX. RESUMEN DE ASPECTOS A MEJORAR</legend>
					<div class="row">
						<div class="col-md-12">
							<br><label>Liste en orden de prioridad las dificultades encontradas en el diagnostico, esto con e fin de comprementar y perfeccionar la información y hacer los ajustes necesarios para continuar con le plan de negocios.</label>
							<br>
							<ol>
							{{Aspectos}} 
							</ol>
						</div>
					</div>
				</fieldset><br></div>
		</div>
	</div>
</div>
<script>
 //funcion para que se ejecute el script cuando termine de cargar
              $(document).ready(function () {
                  $(".badgebox").click(function (){
                    var seleccionado=$(this).prop('checked');
                    var div=$(this).attr("id")+"-div";         
                     if(seleccionado){
                        $("#"+div).show();
                        }else{
                         $("#"+div).hide();
                        }
            });
                              
              });
</script>