<script>
    $(document).ready(function () {

        //agregar fecha al formulario
        var fecha=new Date();
        var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
        $("#dia").html(fecha.getDate());
        $("#mes").html(meses[fecha.getMonth()]);
        $("#anio").html(fecha.getFullYear());
        var navListItems = $('div.setup-panel div button'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function(e){
			//previene el envio del form
			e.preventDefault();
			//obtenermos el id del boton
			var idBtn=$(this).attr("id");
			//obtenemos el id del form
			var idForm=idBtn.substring(idBtn.indexOf("-")+1);
			//llamamos al metodo para enviar el formulario con ajax
			enviarFormAjax(idForm);
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div button[href="#' + curStepBtn + '"]').parent().next().children("button"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;
            $('body,html').animate({scrollTop : 400}, 500);

            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');


				function enviarFormAjax(idForm){
                 //convierte los datos del formulario a arrays
                 var datos=$("#"+idForm).serializeArray();
                 //var con la url del archivo php
                 var url="index.php";
                 //var con el id del elemento html en que desea insertar la info
                 //despues del procesamiento
                 var id="";
                 //llama a la funcion ajax
                 realizarAjax(datos,url,id);
        
		}

		//funcion ajax para enviar formulario a php
            function realizarAjax(datos,url1,id) {
                    $.ajax({
                        data: datos,
                        url: url1,
                        type: 'POST',
                      
                    //esta funncion se ejecuta cuando el php a terminado de procesar
                    //con el resultado e inserta el resultado en algun elemento html
                        success: function (response) {
							console.log(response);
                        }
                    });

                }
        });

        $('div.setup-panel div button.btn-primary').trigger('click');
    });


    function comprobarConexion() {
        var conn=false;
        $.ajax({
            url: 'index.php',
            async: false,
            data: {'tag' : 'connection'}
        })
            .fail(function() { conn=false; })
            .done(function() { conn=true; })
        if(!conn){
            alert("Conexión a internet caida, vuelva intentarlo más tarde");
            event.preventDefault();
        }

		
    }


</script>
<div class="container banner">
	<section class="title-section">
		<h1 class="title-header">
			Agregar Diagnostico Idea </h1>
		<ul class="breadcrumb breadcrumb__t">
			<li><a href="index.php">Inicio</a></li>
			<li class="active">Agregar Diagnostico Idea </li>
		</ul>
	</section>
</div>
<div class='container contact'>

	<div id="titulo">
		<h2><strong>DIAGNÓSTICO DE LA IDEA<strong></h2>
            <h4><strong>Programa de Fortalecimiento Empresarial<strong></h4></div><br>
                <hr>

                <div class="row">
                    <div class="col-md-12"><strong><br>ASESOR: </strong>{{ASESOR}}</div>
	<div class="col-md-12"><strong>FECHA:</strong> <span id="dia"></span>/<span id="mes">
                        </span>/<span id="anio"></span></div>
</div>

<hr>
<div class="container container-fixed">
	<div class="stepwizard">
		<div class="stepwizard-row setup-panel">
			<div class="stepwizard-step">
				<button href="#step-1" type="button" class="btn btn-primary btn-circle">1</button>
				<p>Paso 1</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-2" type="button" class="btn btn-default btn-circle" disabled>2</button>
				<p>Paso 2</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-3" type="button" class="btn btn-default btn-circle" disabled>3</button>
				<p>Paso 3</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-4" type="button" class="btn btn-default btn-circle" disabled>4</button>
				<p>Paso 4</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-5" type="button" class="btn btn-default btn-circle" disabled>5</button>
				<p>Paso 5</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-6" type="button" class="btn btn-default btn-circle" disabled>6</button>
				<p>Paso 6</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-7" type="button" class="btn btn-default btn-circle" disabled>7</button>
				<p>Paso 7</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-8" type="button" class="btn btn-default btn-circle" disabled>8</button>
				<p>Paso 8</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-9" type="button" class="btn btn-default btn-circle" disabled>9</button>
				<p>Paso 9</p>
			</div>
		</div>
	</div>
	<hr>

	<form role="form" style="margin-right:50px" id="form-paso1-idea">
		<input type="hidden" name="mode" value="paso1-idea">
		<input type="hidden" name="Asesor" value="{{ASESOR}}">
		<input type="hidden" name="CC" value="{{cl_cedula}}">
		<div class="row setup-content" id="step-1">
			<div class="col-xs-12">
				<div class="col-md-12">


					<h3 style="color:#579526">INFORMACIÓN DEL SOLICITANTE</h3>
					<hr>
					<br>
					<div class="form-group">

						<div class="row">

							<div class="col-md-2"><label>Nombres:</label></div>
							<div class="col-md-4"><input type="text" class="form-control" name="Nombres" value="{{cl_nombre}}" disabled></div>
							<div class="col-md-2"><label>Apellidos:</label></div>
							<div class="col-md-4"><input type="text" class="form-control" name="Apellidos" value="{{cl_apellido}}" disabled></div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-2"><label>CC:</label></div>
							<div class="col-md-4"><input type="text" name="CC" class="form-control" value="{{cl_cedula}}" id="CC" disabled></div>


							<div class="col-md-3"><label>Posicion que asumira en la empresa:</label></div>
							<div class="col-md-3"><select class="form-control" name="Posicion" required>
                                                <option value="dueño">Dueño</option>
                                                <option value="socio">Socio</option>
                                                <option value="otro">Otro</option>
                                                </select></div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-2"><label>Numero telefonico:</label></div>
							<div class="col-md-4"><input type="text" name="Telefono" class="form-control" value="{{cl_telefono}}" disabled></div>
							<div class="col-md-2"><label>Celular:</label></div>
							<div class="col-md-4"><input type="text" class="form-control" name="Celular" value="{{cl_celular}}" disabled></div>
						</div>


					</div>

					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso1-idea">Guardar y continuar</button>
					<br><br><br><br>
				</div>
			</div>
		</div>
	</form>

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso2-idea">
		<input type="hidden" name="mode" value="paso2-idea">
		<div class="row setup-content" id="step-2">
			<div class="col-xs-12">
				<div class="col-md-12">
					<!-- -->

					<h3 style="color:#579526">DEFINA SU NEGOCIO SU IDEA</h3>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<label>¿Cuál es su negocio?</label>

							<br><textarea class="form-control" rows="3" name="Idea" placeholder="Ingrese la información"></textarea>

							<br><label>¿Cuál es su motivación para emprender esta idea de negocio?</label>
							<br><textarea class="form-control" rows="3" name="Motivacion" placeholder="Escriba aquí.."></textarea>
							<br><label>¿Por qué ha elegido ésta industria/sector?</label>

							<br><textarea class="form-control" rows="3" name="Elecion" placeholder="Escriba aquí.."></textarea>

							<br><label>¿Cuáles son los productos o servicios que proyecta desarrollar?</label>

							<br><textarea class="form-control" rows="3" name="Productos" placeholder="Escriba aquí.."></textarea><br>
						</div>
					</div>
	

					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso2-idea">Guardar y continuar</button>
					<br><br>
					<br>
				</div>
			</div>
		</div>
		</form>
		<!-- -->

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso3-idea">
		<input type="hidden" name="mode" value="paso3-idea">
		<div class="row setup-content" id="step-3">
			<div class="col-xs-12">
				<div class="col-md-12">
					<!-- -->
					<h3 style="color:#579526">RECURSO HUMANO</h3>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<label>¿Cuánto personal requiere para su equipo de trabajo?</label>
							<input type="number" name="Personal_requerido" placeholder="Escriba aquí.." class="form-control" min="0"><br>
							<label>¿Qué personas harán parte de su grupo empresarial?</label>
							<textarea class="form-control" rows="3" name="Grupo_empresarial" placeholder="Escriba aquí.."></textarea><br>
							<label>¿Cuáles son las características y perfiles de su equipo de trabajo?</label>
							<textarea class="form-control" rows="3" name="Equipo_caracteristicas" placeholder="Escriba aquí.."></textarea><br>
							<label>¿Qué criterios de selección tiene en cuenta para la contratación de personal?</label>
							<textarea class="form-control" rows="3" name="Criterios_contratacion" placeholder="Escriba aquí.."></textarea><br>
						</div>
					</div>

					<!-- -->
					<br>
					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso3-idea">Guardar y continuar</button>
					<br><br>
					<br>
				</div>
			</div>
		</div>
		</form>
		<!-- -->

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso4-idea">
		<input type="hidden" name="mode" value="paso4-idea">
		<div class="row setup-content" id="step-4">
			<div class="col-xs-12">
				<div class="col-md-12">
					<!-- -->
					<h3 style="color:#579526">ANALISIS DE MERCADO</h3>
					<hr>

					<div class="row">
						<div class="col-md-12">
							<label>¿Cuál es su mercado objetivo?</label>
							<textarea class="form-control" rows="3" name="Mercado_objetivo" placeholder="Escriba aquí.."></textarea><br>

							<label>¿Dónde esta ubicado su mercado objetivo?</label>

							<textarea class="form-control" rows="3" name="Mercado_objetivo_ubica" placeholder="Escriba aquí.."></textarea><br>
							<label>¿Quiénes son los principales competidores de la industria y dónde están situados?</label>
							<textarea class="form-control" rows="3" name="Competidores" placeholder="Escriba aquí.."></textarea><br>
							<label>¿Cuál factor diferenciador posee su producto o servicio?</label>
							<textarea class="form-control" rows="3" name="Factor_diferenciador" placeholder="Escriba aquí.."></textarea><br>

							<label>Cuáles son las condiciones con las que esta dispuesto a negociar?</label>

							<select class="form-control" name="Condiciones_venta">
                                                <option value="Venta de contado">Venta de contado</option>
                                                <option value="Venta a credito">Venta a credito</option>
                                                <option value="Consignacion">Consignación</option>
                                            </select><br>

							<label>¿Cuál es la ubicación actual o propuesta para su negocio?</label>

							<textarea class="form-control" rows="3" name="Ubicacion_negocio" placeholder="Escriba aquí.."></textarea><br>
							<label>¿La ubicación influenciará su capacidad de ataer clientes?</label>
							<input type="radio" name="Ubicacion_influencia" value="si">Si
							<input type="radio" name="Ubicacion_influencia" value="no" checked>No
							<p></p>
						</div>
					</div>

					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso4-idea">Guardar y continuar</button>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
		</form>
		<!-- -->

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso5-idea">
		<input type="hidden" name="mode" value="paso5-idea">
		<div class="row setup-content" id="step-5">
			<div class="col-xs-12">
				<div class="col-md-12">
					<!-- -->
					<h3 style="color:#579526">ESTRATEGIA DE VENTAS</h3>
					<hr>

					<div class="row">
						<div class="col-md-12">

							<label>¿Cuál será su estrategia de precios?</label>


							<textarea class="form-control" rows="3" name="Estrategia_precios" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Cuáles serán sus canales de distribución?</label>


							<textarea class="form-control" rows="3" name="Canales_distribucion" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Cómo piensa promocionar su negocio? ¿Ha desarrollado un plan de mercadeo?</label>


							<textarea class="form-control" rows="3" name="Promocion_negocio" placeholder="Escriba aquí.."></textarea><br>
						</div>
					</div>

					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso5-idea">Guardar y continuar</button>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
		</form>
		<!-- -->

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso6-idea">
		<input type="hidden" name="mode" value="paso6-idea">
		<div class="row setup-content" id="step-6">
			<div class="col-xs-12">
				<div class="col-md-12">
					<!-- -->
					<h3 style="color:#579526">ANALISIS ECONOMICO Y FINANCIERO</h3>
					<hr>

					<div class="row">
						<div class="col-md-12">
							<label>¿Cuál es el costo de iniciar y operar su negocio?</label>


							<textarea class="form-control" rows="3" name="Costo_operacion" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Cuál o cuales son las fuentes de financiación para iniciar su empresa?</label>


							<select class="form-control" name="Fuentes_financiacion">
                                                <option value="Recursos propios">Recursos propios</option>
                                                <option value="Credito con entidades financieras">Crédito con entidades financieras</option>
                                                <option value="Otro">Otro</option>
                                            </select><br>


							<label>¿En cuánto tiempo ha estimado el retorno de su inversión?</label>


							<textarea class="form-control" rows="3" name="Tiempo_retorno_inversion" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Cómo se estimó el precio de venta de sus productos/servicios?</label>


							<textarea class="form-control" rows="3" name="Como_estimo_precio" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Cuál es el costo de realizar su producto/servicio?</label>


							<textarea class="form-control" rows="3" name="Costo_producto" placeholder="Escriba aquí.."></textarea><br>


							<label>Describa cualquier otro asunto relacionado a las finanzas de su empresa.</label>


							<textarea class="form-control" rows="3" name="Asuntos_finanza" placeholder="Escriba aquí.."></textarea><br>
						</div>
					</div>
					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso6-idea">Guardar y continuar</button>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
		</form>
		<!-- -->

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso7-idea">
		<input type="hidden" name="mode" value="paso7-idea">
		<div class="row setup-content" id="step-7">
			<div class="col-xs-12">
				<div class="col-md-12">
					<!-- -->
					<h3 style="color:#579526">ANALISIS TECNICO</h3>
					<hr>


					<div class="row">
						<div class="col-md-12">
							<label>Describa el proceso para desarrollar su producto/servicio</label>


							<textarea class="form-control" rows="3" name="Desarrollo_producto" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Cuáles equipos o tecnología requiere para llevar a cabo su producto/servicio?</label>


							<textarea class="form-control" rows="3" name="Tecnologia_requerida" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Qúé infraestructura requiere para llevar a cabo su producto/servicio?</label>


							<textarea class="form-control" rows="3" name="Infraestructura_requerida" placeholder="Escriba aquí.."></textarea><br>

						</div>
					</div>

					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso7-idea">Guardar y continuar</button>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
		</form>
		<!-- -->

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso8-idea">
		<input type="hidden" name="mode" value="paso8-idea">
		<div class="row setup-content" id="step-8">
			<div class="col-xs-12">
				<div class="col-md-12">
					<!-- -->
					<h3 style="color:#579526">ANALISIS LEGAL</h3>
					<hr>

					<div class="row">
						<div class="col-md-12">
							<label>¿Qué regulaciones requiere su empresa para su operación?</label>


							<textarea class="form-control" rows="3" name="Regulaciones_operacion" placeholder="Escriba aquí.."></textarea><br>


							<label>¿Qué tipo de persona jurídica tendrá la empresa?</label>


							<textarea class="form-control" rows="3" name="Tipo_persona" placeholder="Escriba aquí.."></textarea><br>
						</div>
					</div>

					<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" id="button-form-paso8-idea">Guardar y continuar</button>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
		</form>
		<!-- -->

		<!-- -->
		<form role="form" method="post" action="index.php" style="margin-right:50px" id="form-paso9-idea">
		<input type="hidden" name="mode" value="paso9-idea">
		<div class="row setup-content" id="step-9">
			<div class="col-xs-12">
				<div class="col-md-12">
					<h3 style="color:#579526">RESUMEN DE ASPECTOS A MEJORAR</h3>
					<hr>
					<!-- -->

					<div class="row">
						<div class="col-md-12">
							<label>Liste en orden de prioridad las dificultades encontradas en el diagnostico, esto con el fin de comprementar y perfeccionar la información y hacer los ajustes necesarios para continuar con le plan de negocios.</label>
							<div class="table-responsive">
								<div class="iconos-add-delete">
									<span>Añadir aspecto </span><img id="agregar-aspectos-mejorar" src="./public/images/add.png" />
									<span>&nbsp&nbsp&nbsp Eliminar aspecto </span><img id="eliminar-aspectos-mejorar" src="./public/images/delete.png"
									/>
								</div>
								<table class="table table-bordered">
									<input id="cant-aspectos-mejorar" type="hidden" name="cant-aspectos-mejorar" value="">
									<thead>
										<tr>
											<th>N°</th>
											<th>Aspectos a mejorar</th>
										</tr>
									</thead>
									<tbody id="aspectos-mejorar">

                                    </tbody>
								</table>
							</div>

							<br>
							<button onclick="comprobarConexion()" class="btn btn-primary btn-lg pull-right" type="submit" id="button-form-paso9-idea">Guardar</button>


							<br>
							<br>
							<br>
							<br>
						</div>
					</div>
				</div>
            </div>
            </div>
	</form>
</div>
</div>

    <script>
    $(document).ready(function () {
        var tablaAspectosMejorar="";
        var contFilasAspectos=0;
	 jQuery.get('./app/views/components/aspectos-mejorar.html', function(data){
            tablaAspectosMejorar=data;
     });
	 //agrego el evento al icono de agregar aspecto
	$("#agregar-aspectos-mejorar").on("click", function(){
		  contFilasAspectos++;
		  var html= tablaAspectosMejorar.replace(/{{NUM_ASPECTOS_MEJORAR}}/gi,contFilasAspectos);
		  html=html.replace(/{{DESCRIPCION_ASPECTOS_MEJORAR}}/gi,"");
		  $("#aspectos-mejorar").append(html);
          $("#cant-aspectos-mejorar").attr("value",contFilasAspectos);
	 });
	  //eliminar el evento al icono de agregar aspecto
	 $("#eliminar-aspectos-mejorar").on("click", function(){
		//verifico que el numero de filas a borrar sean superior a 0
		  if(contFilasAspectos>0){
			  $("#aspectos-mejorar tr:last-child").remove();
			  contFilasAspectos--;
               $("#cant-aspectos-mejorar").attr("value",contFilasAspectos);
		  }
	 });
  });
</script>