<table class="table table-bordered">
	<thead>
		<tr>
			<th>N°</th>
			<th>PROBLEMA</th>
			<th>CAUSA</th>
			<th>EFECTO SOBRE LA EMPRESA</th>
			<th>SOLUCIÓN</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">{{NUM_PROBLEMA}}</th>
			<td><textarea class="textCuadrado" rows="3" name="problemas-{{NUM_PROBLEMA}}" placeholder="Ingrese un porblema">{{NOM_PROBLEMA}}</textarea></td>
			<td><textarea class="textCuadrado" rows="3" name="causas-{{NUM_PROBLEMA}}" placeholder="Ingrese la causa"></textarea></td>
			<td><textarea class="textCuadrado" rows="3" name="efectos-{{NUM_PROBLEMA}}" placeholder="Ingrese el efecto"></textarea></td>
			<td><textarea class="textCuadrado" id="soluciones-{{NUM_PROBLEMA}}" rows="3" name="soluciones-{{NUM_PROBLEMA}}" placeholder="Ingrese la solución"></textarea></td>

		</tr>
	</tbody>
</table>