	<table class="table table-bordered">
		<thead>
			<tr>
				<th>N°</th>
				<th>PROBLEMA</th>
				<th>CAUSA</th>
				<th>EFECTO SOBRE LA EMPRESA</th>
				<th>SOLUCIÓN</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">{{NUM_PROBLEMA}}</th>
				<td><textarea class="textCuadrado" rows="3" name="" placeholder="Ingrese el problema"></textarea></td>
				<td><textarea class="textCuadrado" rows="3" name="" placeholder="Ingrese la causa"></textarea></td>
				<td><textarea class="textCuadrado" rows="3" name="" placeholder="Ingrese los efectos"></textarea></td>
				<td><textarea class="textCuadrado" id="soluciones-{{NUM_PROBLEMA}}" rows="3" name="" placeholder="Ingrese la solución"></textarea></td>

			</tr>
		</tbody>
	</table>