<thead>
			<tr>
				<th>Objetivo {{NUMERO_OBJETIVO}}</th>
				<th colspan="3">{{OBJETIVO}}
				</th>

			</tr>
			<tr>
				<th>FECHA DE LA REUNION (D/M/A)</th>
				<th colspan="3"><input class="textCuadrado" type="date" name="fecha_reunion-{{NUMERO_OBJETIVO}}"></th>
			</tr>
			<tr>
				<th>FECHA PRÓXIMA REUNIÓN (D/M/A)</th>
				<th colspan="3"><input class="textCuadrado" type="date" name="fecha_prox_reunion-{{NUMERO_OBJETIVO}}"></th>
			</tr>
			
		</thead>
		<thead>
			<th>N°</th>
			<th>TAREAS</th>
			<th>ESTADO</th>
			<th>EVIDENCIA</th>
			</tr>
		</thead>

        {{CONTENIDO_OBJETIVOS}}