<form class="subir-evidencia-tarea" action='index.php' enctype='multipart/form-data'>
    <input name='mode' type='hidden' value='subir-evidencia-tarea'>
    <input name='num_consecutivo' type='hidden' value='{{NUM_CONSECUTIVO}}'>
    <input name='id_problema' type='hidden' value='{{ID_PROBLEMA}}'>
    <input name='id_tarea' type='hidden' value='{{ID_TAREA}}'>
    <input name='tipo' type='hidden' value='{{TIPO}}'>
    <label class="btn btn-warning btn-file"> Subir<input name='evidencia' required="" type="file" style="display: none;"></label>
    <input type='submit' class='btn btn-primary' value='Enviar'>
</form>
