<tr>
    <td>{{NUMERO_TAREA}}</td>
    <td>{{NOMBRE_TAREA}}</td>
    <td>{{FECHA_TAREA}}</td>
    <td align="center">
        <form method='post' action='index.php' enctype='multipart/form-data'>
            <input name='mode' type='hidden' value='subir-evidencia-tarea'>
            <input name='num_consecutivo' type='hidden' value='{{num_consecutivo}}'>
            <input name='id_problema ' type='hidden' value='{{id_problema}} '>
            <input name='id_tarea' type='hidden' value='{{id_tarea}}'>
            <label class="btn btn-warning btn-file"> Subir<input type="file" style="display: none;"></label>
            <input type='submit' class='btn btn-primary' value='Enviar'>
        </form>
    </td>
    <td style="text-align:center">{{ESTADO_TAREA}}</td>
</tr>