<div class="table-responsive">
	<input type="hidden" id="{{NUMERO_OBJETIVO}}" name="{{NUMERO_OBJETIVO}}" value="1"/>
	<div class="iconos-add-delete">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Objetivo {{NUMERO_OBJETIVO}}</th>
				<th colspan="2">{{OBJETIVO}}</th>
            </tr>
		</thead>
		<thead>
			<th>N°</th>
			<th>TAREA</th>
			<th>EVIDENCIA</th>
            <th>ESTADO</th>
			</tr>
		</thead>
		<tbody id="{{NUMERO_OBJETIVO}}-fila-tarea">
			{{TABLA_TAREA}}
		</tbody>
	</table>
</div>
<br>
<hr><br>