
<div class="container banner">
	<section class="title-section">
		<h1 class="title-header">Agregar Plan De Accción</h1>
		<ul class="breadcrumb breadcrumb__t">
			<li><a href="index.php">Inicio</a></li>
			<li class="active">Agregar Plan De Accción</li>
		</ul>
	</section>
</div>
<div class='container contact'>
<div class="text-center">
    <a class="banner_btn" href="index.php?mode=agregar-plan-accion-idea"><h2 >Agregar Plan Acción Del Diagnostico Idea</h2></a>
    <br><br><br>
    <a class="banner_btn" href="index.php?mode=agregar-plan-accion-empresa"><h2 >Agregar Plan Acción Del Diagnostico Empresa</h2></a>
     <br><br><br>
</div>
</div>
