<script>
    $(document).ready(function () {

        //agregar fecha al formulario
        var fecha=new Date();
        var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
        $("#dia").html(fecha.getDate());
        $("#mes").html(meses[fecha.getMonth()]);
        $("#anio").html(fecha.getFullYear());
        var navListItems = $('div.setup-panel div button'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div button[href="#' + curStepBtn + '"]').parent().next().children("button"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;
            $('body,html').animate({scrollTop : 400}, 500);

            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div button.btn-primary').trigger('click');
    });


    function comprobarConexion() {
        var conn=false;
        $.ajax({
            url: 'index.php',
            async: false,
            data: {'tag' : 'connection'}
        })
            .fail(function() { conn=false; })
            .done(function() { conn=true; })
        if(!conn){
            alert("Conexión a internet caida, vuelva intentarlo más tarde");
            event.preventDefault();
        }
    }


</script>
<div class="container banner">
	<section class="title-section">
		<h1 class="title-header">Agregar Plan De Accción</h1>
		<ul class="breadcrumb breadcrumb__t">
			<li><a href="index.php">Inicio</a></li>
			<li class="active">Agregar Plan De Accción</li>
		</ul>
	</section>
</div>
<div class='container contact'>

	<div id="titulo">
		<h2><strong>PLAN DE ACCION /PLAN DE MEJORA<strong></h2>
            <h4><strong>PROGRAMA DE FORTALECIMIENTO EMPRESARIAL<strong></h4></div><br>
                <hr>

           <div class="row">
					 <div class="col-md-12"><strong><br>ASESOR: </strong>{{ASESOR}}</div>
	<div class="col-md-12"><strong>FECHA:</strong> <span id="dia"></span>/<span id="mes">
                        </span>/<span id="anio"></span></div>
	<div class="col-md-12"> <br>
		<p class="sin-negrita">A pesar que no se conoce la fórmula exacta de éxito, el siguiente PLAN DE ACCION/PLAN DE MEJORA ayudará a su EMPRENDIEMIENTO
			o a su EMPRESA a aumentar los niveles de efectividad, eficiencia, productividad, competitividad y por consiguiente a crecer.
			Para iniciar, analice la situación actual de la empresa tomando del diagnóstico el resumen de aspectos a mejorar identificados,
			luego establezca objetivos, Plantee acciones de mejora y Proyecte el impacto deseado con el empresario/emprendedor, acuerde
			la ejecución del plan y haga seguimiento.
			<p>
				<br><br>
	</div>
</div>

<hr>
<div class="container container-fixed">
	<div class="stepwizard">
		<div class="stepwizard-row setup-panel">
			<div class="stepwizard-step">
				<button href="#step-1" type="button" class="btn btn-primary btn-circle">1</button>
				<p>Paso 1</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-2" id="boton-soluciones2" type="button" class="btn btn-default btn-circle" disabled>2</button>
				<p>Paso 2</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-3" type="button" class="btn btn-default btn-circle" disabled>3</button>
				<p>Paso 3</p>
			</div>
			<div class="stepwizard-step">
				<button href="#step-4" type="button" class="btn btn-default btn-circle" disabled>4</button>
				<p>Paso 4</p>
			</div>
		</div>
	</div>
</div>
<hr>

<form role="form" action="index.php" method="POST" style="margin-right:50px">
	<input type="hidden" name="mode" value="agregar-plan-accion">
	<input type="hidden" name="tipo" value="{{TIPO_DIAG}}">
	<input type="hidden" name="asesor" value="{{ASESOR}}">
	<input type="hidden" name="num-consecutivo" value="{{NUM_CONSECUTIVO}}">
	<div class="row setup-content" id="step-1">
		<div class="col-xs-12">
			<div class="col-md-12">
				<h3 style="color:#579526">DEFINICIÓN DE PROBLEMAS</h3>
				<hr>
				<br>
				<div class="form-group">
					<div id="tablas-problemas" class="table-responsive">
						<div class="iconos-add-delete">
							<input type="hidden" id="cant-problemas" name="cant-problemas" value="{{CANT_PROBLEMAS}}" />
							<span>Añadir problema </span><img id="agregar-problemas" src="./public/images/add.png" />
							<span>&nbsp&nbsp&nbsp Eliminar problema </span><img id="eliminar-problemas" src="./public/images/delete.png" />
						</div><br>
						<!-- tablas objetivos -->

						{{TABLAS_PROBLEMAS}}

					</div>
				</div>

				<button id="boton-soluciones" class="btn btn-primary nextBtn btn-lg pull-right" type="button">Guardar y continuar</button>
				<br><br><br>
			</div>
		</div>
	</div>

	<!-- -->
	<div class="row setup-content" id="step-2">
		<div class="col-xs-12">
			<div class="col-md-12">
				<h3 style="color:#579526">DEFINICIÓN DE OBJETIVOS</h3>
				<hr>
				<br>
				<div id="tablas-objetivos-tareas" class="form-group">
					<!-- Aqui van las tablas de los objetivos 
					que se insertaran de forma dinamica mediante javascript -->

				</div>
				<button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Guardar y continuar</button>
				<br><br>
				<br>
			</div>
		</div>
	</div>
	<!-- -->

	<!-- -->
	<div class="row setup-content" id="step-3">
		<div class="col-xs-12">
			<div class="col-md-12">
				<h3 style="color:#579526">IMPACTO PROYECTADO EN SU EMPRESA</h3>
				<hr>
				<div class="form-group">
					<p class="sin-negrita">Con ayuda del Centro, se espera lograr los siguientes resultados: (aumento en #empleos creados, incremento %volumen
						en ventas, activos, rentabilidad, formalizado, acceso a crédito, etc.).</p><br>
					<!-- Cuarta tabla -->
					<div class="table-responsive">
						<input type="hidden" id="cant-resultados" name="cant-resultados" value="1" />
						<div class="iconos-add-delete">
							<span>Añadir resultado </span><img id="agregar-resultados-plan-accion" src="./public/images/add.png" />
							<span>&nbsp&nbsp&nbsp Eliminar resultado </span><img id="eliminar-resultados-plan-accion" src="./public/images/delete.png"
							/>
						</div>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>N°</th>
									<th>RESULTADOS</th>
								</tr>
							</thead>
							<tbody id="resultados-plan-accion">
								<tr id="fila-resultados-1">
									<th scope="row">1</th>
									<td> <textarea class="textCuadrado resultados" rows="3" id="resultados-plan-accion-1" name="resultados-plan-accion-1" placeholder="Ingrese los resultados"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Guardar y continuar</button>
				<br><br>
				<br>
			</div>
		</div>
	</div>
	<!-- -->
	<div class="row setup-content" id="step-4">
		<div class="col-xs-12">
			<div class="col-md-12">
				<h3 style="color:#579526">VERIFICACÓN DE RESULTADOS OBTENIDOS</h3>
				<hr>
				<br>
				<div class="form-group">
					<label>Cumplió</label><br>
					<label>Si</label>
					<input type="radio" name="cumplio" value="si">
					<label>No</label>
					<input type="radio" name="cumplio" value="no" checked><br>
					<label>Se alcanzaron los objetivos propuestos?</label><br>
					<label>Si</label>
					<input type="radio" name="alcanzaron_obj" value="si">
					<label>No</label>
					<input type="radio" name="alcanzaron_obj" value="no" checked><br>
					<label>¿ Qué sucedió?</label><br>
					<textarea class="form-control" rows="3" name="que_sucedio" placeholder="Ingrese la información"></textarea><br>


					<br>
					<label>Observaciones adicionales:</label>
					<textarea class="form-control" rows="3" name="obs_adicionales" placeholder="Ingrese la información"></textarea><br>
				</div>
				<button onclick="comprobarConexion()" class="btn btn-primary btn-lg pull-right" type="submit">Guardar</button>
				<br><br>
				<br>

			</div>
		</div>
	</div>
</form>
</div>
</div>
<script>
 //array que guarda el numero de filas que tiene cada tabla de objetivos
 var array;
 var entro;
 var trTarea;
  //funcion para que se ejecute el script cuando termine de cargar el html
 $(document).ready(function () {
	 var trResultados=$("#resultados-plan-accion").html();
	 var contFilasResultados=1;
	 var tablasProblemas;
	 var tablaObjetivosTareas;
	 var tablaTarea;
	 //obtengo la plantilla para agregar las tablas de problemas
			jQuery.get('./app/views/PlanAccion/componentes/tablas-problemas.html', function(data) {
					tablasProblemas=data;
			});
		//obtengo la plantilla para agregar las tablas de objetivos 
			jQuery.get('./app/views/PlanAccion/componentes/tablas-objetivos-tareas.html', function(data) {
				tablaObjetivosTareas=data;
			});
		//obtengo la plantilla para agregar las tabla tarea
			jQuery.get('./app/views/PlanAccion/componentes/tabla-tarea.html', function(data) {
				tablaTarea=data;
			});
			
	 //agregar evento de clic al boton de guardar soluciones 
	 $("#boton-soluciones2").on("click",function(){ 
		$("#tablas-objetivos-tareas").empty();
		array=new Array();
		//obtengo la cantidad de soluciones ingresadas 
		 var contSoluciones=$("#cant-problemas").attr("value");
		//aqui recorro todos los textarea de la tabla problemas 
		// y por cada uno creo una tabla de objetivos 
		for(var i=1; i<=contSoluciones;i++){
			//obtengo el valor del textarea
			var solucion=$("#soluciones-"+i).val();
				//agrego el valor inicial de 1 fila en el array de las filas de los objetivos
				array.push(1);
				//reemplazo los valores en la plantilla que lei anteriormente con jQuery
				var tablas= tablaObjetivosTareas.replace(/{{OBJETIVO}}/gi,solucion);
				tablas= tablas.replace(/{{TABLA_TAREA}}/gi,tablaTarea);
				tablas= tablas.replace(/{{NUMERO_TAREA}}/gi,1);
				tablas= tablas.replace(/{{NUMERO_OBJETIVO}}/gi,i);
				tablas= tablas.replace(/{{NUMERO_OBJ}}/gi,i);
				
				//agrego las tablas al div con id tablas-objetivos-tareas con la funcion append de jQuery
				$("#tablas-objetivos-tareas").append(tablas);

				//agrego el evento al icono de agregar tarea de cada una de las tablas de objetivos
				$("#"+i+"-agregar-tarea").on("click", function(){
					//obtengo la id del icono agregar
					var id=$(this).attr("id");
					//obtengo el numero de la tabla objetivo asociado al icono 
					var num=parseInt(id.substring(0,id.indexOf("-")));
					
				//sumo +1 a la contador de la fila de la tabla a la que se le quiere añadir una fila
				array[num-1]=array[num-1]+1;
				//remplazo los valores en la platilla
				var html= tablaTarea.replace(/{{NUMERO_TAREA}}/gi,array[num-1]);
				html= html.replace(/{{NUMERO_OBJ}}/gi,num);
				//agrego la fila en la tabla objetivo numero n
				$("#"+num+"-fila-tarea").append(html);
				
				//aumentamos el value del hidden que contiene la cantidad de tareas del objetivo
				var contTareas=parseInt($("#"+num+"-cant-tareas").attr("value"));
				contTareas++;
				$("#"+num+"-cant-tareas").attr("value",contTareas);
			
									});
					//agrego el evento al icono de eliminar tarea de cada una de las tablas de objetivos
				$("#"+i+"-eliminar-tarea").on("click", function(){
					//obtengo la id del icono elimar
					var id=$(this).attr("id");
					//obtengo el numero de la tabla objetivo asociado al icono 
					var num=parseInt(id.substring(0,id.indexOf("-")));
					//verifico que el numero de filas a borrar sean superior a 1
					if(array[num-1]>1){
					$("#"+num+"-fila-tarea tr:last-child").remove();
					array[num-1]=array[num-1]-1;

					//disminuimos el value del hidden que contiene la cantidad de tareas del objetivo
					var contTareas=parseInt($("#"+num+"-cant-tareas").attr("value"));
					contTareas--;
					$("#"+num+"-cant-tareas").attr("value",contTareas);

					}
									});
		}
		
	 });

	 //agrego el evento al icono de agregar resultados de plan accion 
	$("#agregar-resultados-plan-accion").on("click", function(){
		  contFilasResultados++;
		  var html= trResultados.replace(/1/gi,contFilasResultados);
		  $("#resultados-plan-accion").append(html);
		  //aumentamos el value del hidden que contiene la cantidad de tareas del objetivo
		  $("#cant-resultados").attr("value",contFilasResultados);	
	 });
	  //eliminar el evento al icono de agregar resultados de plan accion 
	 $("#eliminar-resultados-plan-accion").on("click", function(){
		//verifico que el numero de filas a borrar sean superior a 1
		  if(contFilasResultados>1){
			  $("#fila-resultados-"+contFilasResultados).remove();  
			  contFilasResultados--;
			  //disminuimos  el value del hidden que contiene la cantidad de tareas del objetivo
			   $("#cant-resultados").attr("value",contFilasResultados);	
		  }
	 });

	  //agrego el evento al icono de agregar problemas
	$("#agregar-problemas").on("click", function(){
		var contProblemas=parseInt($("#cant-problemas").attr("value"));
		  contProblemas++;
		  $("#cant-problemas").attr("value",contProblemas);
		  var html= tablasProblemas.replace(/{{NUM_PROBLEMA}}/gi,contProblemas);
		 html= html.replace(/{{NOM_PROBLEMA}}/gi,"");
		  $("#tablas-problemas").append(html);
	 });
	  //eliminar el evento al icono de agregar resultados de plan accion 
	 $("#eliminar-problemas").on("click", function(){
		 var contProblemas=parseInt($("#cant-problemas").attr("value"));
		  
		//verifico que el numero de tablas a borrar sean superior a 1
		//console.log(contProblemas);
		  if(contProblemas>1){
			  contProblemas--;
			   $("#cant-problemas").attr("value",contProblemas);
			  $("#tablas-problemas table:last-child").remove();
			   
		  }
	 });
  });
</script>